/* stijlen voor Michelin*/


html{
    height: 100%;
    width: 100%;
    background-color: #3c444d;
    overflow: auto;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    overflow: auto;
    border: 1px solid;
    overflow: inherit;
    

}

.langWrap{
    width: 100%;
    padding: 10px;
    background: #0b3867;
}

.active {
    background-color: rgb(216, 68, 68);
    font-weight: 600;
    font-size: 20px;
    color:  #061b31;
    padding: 10px;
    text-align: center;
}

li .active:hover{
    color: white;

}
nav{
    width: 100%;
    float: right;
    background-color: #061b31;
}
 nav ul{
    text-align: center;
    margin: 40px;
    padding-left: 0;
    
    
}


nav ul li {
    display: inline-block;
    list-style-type: none;
    height: 45px;
    background:#061b31;
}

nav ul li a{
    padding-right: 10px;

}

li{
 margin: 8px;
 padding-left: 20px;
 padding-right: 20px;
}
 
 a{
    color: #f7eded;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
}



nav ul li a:hover{
    opacity: 1;
    color: #db545a;
}

#logo{
    margin-top: -25px;
    height: 145px;
    width: 145px;
    float: right;
    margin-right: 700px;
    
}

.search-li {

list-style-type: none;

}

.search-form {

position: relative;
margin-left: 1300px;
display: inline-block;

}

.search-input {

width: 200px;

height: 30px;

padding: 5px;

border: 1px solid rgba(77, 77, 255, 0.7);

border-radius: 15px;

font-size: 14px;

background-color: rgba(106, 122, 203, 0.5);

outline: none;

box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.search-button {

position: absolute;

right: 10px;

top: 50%;

transform: translateY(-50%);

padding: 5px 10px;

background-color: rgba(0, 0, 0, 0.7);

color: #ffffff;

border: none;

border-radius: 20px;

cursor: pointer;

font-size: 15px;

outline: none;

}

.search-button:hover {

background-color: #1409ea;

}

.heures {
    width: 100%;
}

.Home h1{
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 60px;
    font-weight: 700;
}

.Le-mans{
    font-size: 40px;
    font-weight: 600;
}

.Michelin-Feesttent {
    font-size: 30px;
}



div.header {
	height: 200px;
	background:#061b31;
	}

div.header .navigatie {
	margin-right: 300px;
    display: inline-block;
    list-style-type: none;
    height: 45px;
    background:#061b31;
	float: right;
	margin-top: 85px;
	color: #fff;
}

div.header .navigatie a { color: #fff; }

div.header #logo {
    margin-top: 0px;
    height: 200px;
    width: 200px;
    float: right;
    margin-right: 50px;
	margin-top:0px;
    
}

div.logo img {
	height:100%;
	width: 100%;
}

section .block1 {
    margin-top: 100px;
   margin-right: 200px;

   margin: 100px;
   
}

section .block2 {
    margin-top: 100px;
    margin-right: 200px;
    margin: 100px;
    
  }



section.content {
	
	background-image: url("../images/24-heures.jpg");
	background-size: cover;
	height: 600px;
}


div.textphoto {

	color: #fff;
	justify-content: center;
	
}


.footer {
    color: #fff;
    background: #061b31;
    height: 100px;
}

.block1 {
	width: 650px;
	height: 200px;
	background: #fff;
	margin-top: -100px;
	margin-bottom: 100px;
	margin-left: 25px;
	border-radius: 20px;
}
.block2 {
	width: 650px;
	height: 200px;
	background: #fff;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: 25px;
	border-radius: 20px;
}

.block3 {
	width: 650px;
	height: 200px;
	background: #fff;
	margin-top: -600px;
	margin-bottom: 100px;
	margin-left: 775px;
	border-radius: 20px;
}

.block4 {
	width: 650px;
	height: 200px;
	background: #fff;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 775px;
	border-radius: 20px;
}

.block1 img {
	width: 200px;
    height: 200px;	
	border-radius: 20px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.block2 img {
	width: 200px;
    height: 200px;	
	border-radius: 20px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.block3 img {
	width: 200px;
    height: 200px;	
	border-radius: 20px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.block4 img {
	width: 200px;
    height: 200px;	
	border-radius: 20px;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.block1 h2 {
	margin-top: -175px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:Arial;
}
.block2 h2 {
	margin-top: -175px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:Arial;
}
.block3 h2 {
	margin-top: -175px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:Arial;
}

.block4 h2 {
	margin-top: -175px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:Arial;
}

.block1 h3 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	color: red;
	font-family:Arial;
}
.block2 h3 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	color: red;
	font-family:Arial;
}
.block3 h3 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	color: red;
	font-family:Arial;
}
.block4 h3 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	color: red;
	font-family:Arial;
}

.block1 h4 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:Arial;
}

.block2 h4 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:
}

.block3 h4 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:Arial;
}

.block4 h4 {
	margin-top: -95px;
	margin-bottom: 100px;
	margin-left: 225px;
	font-family:Arial;
}

.project {
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    background-color: #061b31;
    padding: 15px;
    color: #f7eded;
}


.Michelin-logo {
    height: 110px;
    width: 130px;
    margin-left: 1000px;
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8;
    }

    .section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;

    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;

    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

}

@media (max-width:300px) {

    .body {
        font-size: 5px;

    }

    .main-content h2 {
        font-size: 0.3em;
    }

    .main-content h3 {
        font-size: 0.7em;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }
}

