/* stijlen voor reserveren */

html{
    height: 100%;
    width: 100%;
    background-color: #3c444d;
    overflow: auto;
    scroll-behavior: smooth;
    
}

body{
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    overflow: auto;
    border: 1px solid;
    overflow: inherit;
    

}

.langWrap{
    width: 100%;
    padding: 10px;
    background: #0b3867;
}
.active {
    background-color: rgb(216, 68, 68);
    font-weight: 600;
    font-size: 20px;
    color:  #061b31;
    padding: 10px;
    text-align: center;
}

li .active:hover{
    color: white;

}
nav{
    width: 100%;
    float: right;
    background-color: #061b31;
}

 nav ul{
    text-align: right;
    margin: 40px;
    padding-left: 0;
    
    
}


nav ul li {
    display: inline-block;
    list-style-type: none;
    height: 45px;
    background:#061b31;
}

nav ul li a{
    padding-right: 10px;

}

li{
 margin: 8px;
 padding-left: 20px;
 padding-right: 20px;
}
 
 a{
    color: #f7eded;
    text-decoration: none;
    font-size: 21PX;
    font-weight: 500;

}

#logo{
    margin-top: -25px;
    height: 145px;
    width: 145px;
    float: right;
    margin-right: 800px;
}

.search-li {

list-style-type: none;

}

.search-form {

position: relative;
margin-left: 1300px;
display: inline-block;

}

.search-input {

width: 200px;

height: 30px;

padding: 5px;

border: 1px solid rgba(77, 77, 255, 0.7);

border-radius: 15px;

font-size: 14px;

background-color: rgba(106, 122, 203, 0.5);

outline: none;

box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.search-button {

position: absolute;

right: 10px;

top: 50%;

transform: translateY(-50%);

padding: 5px 10px;

background-color: rgba(0, 0, 0, 0.7);

color: #ffffff;

border: none;

border-radius: 20px;

cursor: pointer;

font-size: 15px;

outline: none;

}

.search-button:hover {

background-color: #1409ea;

}

nav ul li a:hover{
    opacity: 1;
    color: #db545a;
}



.dikke-lijnen{

    margin-top: 270px;
    color: #f7eded;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}


  .dikke-lijnen::before,
  .dikke-lijnen::after {
    position: absolute;
    content: "";
    top: 300px;
    width: 500px; /* Breedte van de lijn aanpassen */
    height: 35px; /* Hoogte/dikte van de lijn aanpassen */
    background-color: #db545a; /* Kleur van de lijn aanpassen */
  }
  
  .dikke-lijnen::before {
    left: 160px; /* Afstand van de lijn aanpassen aan de linkerzijde van het woord */
  }
  
  .dikke-lijnen::after {
    right: 160px; /* Afstand van de lijn aanpassen aan de rechterzijde van het woord */
  }
 
.reservation-form input[type="text"]
 {
font-size: 30px;
width: 400px;
height: 50px;
margin: 10px;
padding: 10px;
margin-left: 500px;

}
.reservation-form input[type="achternaam"] {
font-size: 30px;
width: 400px;
height: 50px;
margin: 10px;
padding: 10px;

}




.reservation-form input[type="woonplaats"],
.reservation-form input[type="postcode en huisnummer"],
.reservation-form input[type="email"],
.reservation-form input[type="telefoonnummer"]
 {
     font-size: 30px;
     width: 850px;
     height: 50px;
     margin: 10px;
     padding: 10px;
     margin-left: 500px;
}

.reservation-form select[id="plaatsen"],
.reservation-form select[id="aantal personen"]{
    font-size: 30px;
     width: 870px;
     height: 90px;
     margin: 10px;
     padding: 10px;
     margin-left: 500px;

}

.reservation-form textarea[type="commentaar"]{
    font-size: 30px;
    width: 850px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    margin-left: 500px;
}


.reservation-form button[type="submit"] {
    font-size: 30px;
    width: 300px;
    height: 90px;
    margin: 10px;
    padding: 10px;
    margin-left: 500px;
}


.project {
    text-align: center;
    font-size: 20px;
    background-color: #061b31;
    padding: 70px;
    color: #f7eded;
}



@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8;
    }

    .section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;

    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;

    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

}

@media (max-width:300px) {

    .body {
        font-size: 5px;

    }

    .main-content h2 {
        font-size: 0.3em;
    }

    .main-content h3 {
        font-size: 0.7em;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }
}







    